<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794644629399-9uqvtcf1t84q1prjcjhjc8eubtbie3vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794644629399-9uqvtcf1t84q1prjcjhjc8eubtbie3vh</string>
	<key>API_KEY</key>
	<string>AIzaSyDN8WGbHYImo9MnFPYDpFEJw-3yFo1Tsjc</string>
	<key>GCM_SENDER_ID</key>
	<string>794644629399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raiymbek.BenyamV2-0</string>
	<key>PROJECT_ID</key>
	<string>benyam-302ff</string>
	<key>STORAGE_BUCKET</key>
	<string>benyam-302ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794644629399:ios:9d7ebaf8a95d4bf765e6d2</string>
</dict>
</plist>